body {
  overflow: hidden; /* Hide scrollbars */
} .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
} .left {
  left: 0;
  background-color: #f4f4f4;
} .right {
  right: 0;
  background-color: #dcdcdc;
} .reason {
  width: 80%;
} .explain {
  background-color: #ffffe2;
  border: 2px solid #cb9877;
  border-radius: 11px;
  color: #573d2d;
  text-align: center;
  width: 70%;
  padding: 10px;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
} .bideo{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
} @media only screen and (max-width: 600px) {
  .split {
    width: 100%;
    position: fixed;
    top: auto;
    overflow:auto;
  } .right{
    bottom: 0;
    height: 40%;
  } .left {
    height: 60%;
    top: 0;
  }
}